#nav {
  background: black;
  color: gray;
  padding: 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#nav a{
  color: white;
  text-decoration: none;
}

body {
  margin: 0px;
}
#main {
  padding-left: 1em;
  padding-top: 2em;
}
span.keyword {
	margin: 0.5em;
}